<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistRebanho.Properties.Settings.RebanhoConnectionString"
            connectionString="Data Source=NOTCASSIANO;Initial Catalog=Rebanho;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistRebanho.View.Properties.Settings.RebanhoDiagnosticoConnectionString"
            connectionString="Data Source=notcassiano;Initial Catalog=Rebanho;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>